@page 
@model ContractMonthlyClaimSystem.Pages.DashboardModel
@{
	ViewData["Title"] = "Dashboard";
	var userRole = HttpContext.Session.GetString("UserFirstName");
}

<h1 class="my-4 text-center">My Dashboard</h1>

@if (userRole == "manager")
{
    @await Html.PartialAsync("~/Pages/Dashboard/_ManagerDashboard.cshtml", new ContractMonthlyClaimSystem.Models.ManagerDashboardViewModel {})
}
else
{
    @await Html.PartialAsync("~/Pages/Dashboard/_LecturerDashboard.cshtml", new ContractMonthlyClaimSystem.Models.LecturerDashboardViewModel {})
}
