@page 
@model ContractMonthlyClaimSystem.Pages.DashboardModel
@{
	ViewData["Title"] = "Dashboard";
	var userRole = HttpContext.Session.GetString("UserRole");
}

<h1 class="my-4 text-center">@userRole Dashboard</h1>

@if (userRole == "Admin")
{
    @await Html.PartialAsync("~/Pages/Dashboard/_ManagerDashboard.cshtml", new ContractMonthlyClaimSystem.Models.ManagerDashboardViewModel {})
}
else
{
    @await Html.PartialAsync("~/Pages/Dashboard/_LecturerDashboard.cshtml", new ContractMonthlyClaimSystem.Models.LecturerDashboardViewModel {})
}
